body{
    background-color:#333;
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}

.div_box4 {
    background-color: rgb(170, 121, 159);
    overflow: hidden;
    width: 75%;
    text-align: center;
    font-stretch: extra-expanded;
    
  }

  .div_box5 {
    background-color: rgb(170, 121, 159);
    overflow: hidden;
    width: 75%;
    
  }

.div_box1 {
    background-color: rgb(97, 88, 95);
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    width: 100%; 
  }

 /* Style the links inside the navigation bar */
  .div_box1 a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration:none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .div_box1 a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .div_box1 a.active {
    background-color:rgb(51, 120, 133);
    color: white;
  }

.div_box2{
    background-color: cadetblue;
    width: 200px;
    height: 200px;
}

.div_box3{
    background-color:darkslategray;
    width: 200px;
    height: 200px;
}

.div_box6{
    color: rgb(87, 62, 62);
}

